.myGrid {
    width: 100%;
    height: 80%;
}

.header-filtered {
    color: #00b494;
}

.margin-bottom-20 {
    margin-bottom: 30px;
}

h1.with-space-before {
    margin-top: 40px;
}

.first-row {
    margin-top: 25px;
}

.login-form {
    margin-top: 60px;
}

.chosen-container.chosen-container-multi {
    width: 300px !important;
}

.chosen-choices {
    max-height: 150px;
}

.cg-notify-message {
    text-align: left;
}

div.scrollable {
    overflow: scroll;
}

div.fixedHeight {
    height: 100px;
}