<div id="wrapper">
    <my-nav-bar active="portfolio"></my-nav-bar>
    <div id="page-wrapper" class="gray-bg">
        <my-nav-bar-top></my-nav-bar-top>
        <div class="row">
            <div class="col-md-12">
                <div class="tabs-container">
                    <ul class="nav nav-tabs ">
                        <li data-ng-class="{'active': vm.tab == 3}"><a data-toggle="tab" data-ng-click="vm.changeTab(3)">Total</a></li>
                        <li data-ng-class="{'active': vm.tab == 1}"><a data-toggle="tab" data-ng-click="vm.changeTab(1)">Lending Club</a></li>
                        <li data-ng-class="{'active': vm.tab == 2}"><a data-toggle="tab" data-ng-click="vm.changeTab(2)">Prosper</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane" data-ng-if="vm.tab == 1" data-ng-class="{'active': vm.tab == 1}">
                            <div class="row  border-bottom white-bg dashboard-header">
                                <div class="col-sm-3">
                                    <h2>Lending Club</h2>
                                    <ul class="list-group clear-list m-t">
                                        <li class="list-group-item fist-item">
                                       <span class="pull-right">
                                       {{vm.lendingClubPortfolioAnalytics.principalOutstanding | currency}}
                                       </span>
                                            <span class="label label-success">1</span> Principal oustanding
                                        </li>
                                        <li class="list-group-item">
                                       <span class="pull-right">
                                       {{vm.lendingClubPortfolioAnalytics.pendingInvestment | currency}}
                                       </span>
                                            <span class="label label-info">2</span> Pending investments
                                        </li>
                                        <li class="list-group-item">
                                       <span class="pull-right">
                                       {{vm.lendingClubPortfolioAnalytics.currentNotes | currency}}
                                       </span>
                                            <span class="label label-primary">3</span> Cash balance
                                        </li>
                                        <li class="list-group-item">
                                       <span class="pull-right">
                                       13.29%
                                       </span>
                                            <span class="label label-default">4</span> Cumulative NAR
                                        </li>
                                        <li class="list-group-item">
                                       <span class="pull-right">
                                       LendingClubAggressive
                                       </span>
                                            <span class="label label-default">5</span> Strategy
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-4">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-title">
                                            <h5>Cash received</h5>
                                        </div>
                                        <div class="ibox-content">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <h1 class="no-margins">{{vm.lendingClubPortfolioAnalytics.principalReceived | currency}}</h1>

                                                    <div>
                                                        <small>Principal received</small>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <h1 class="no-margins">{{vm.lendingClubPortfolioAnalytics.interestReceived | currency}}</h1>

                                                    <div>
                                                        <small>Interest received</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-title">
                                            <h5>Additional Metrics</h5>
                                        </div>
                                        <div class="ibox-content">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <h1 class="no-margins">406,420</h1>

                                                    <div>
                                                        <small>WAVG interest rate</small>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <h1 class="no-margins">56,420</h1>

                                                    <div>
                                                        <small>Average note size</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="statistic-box">
                                        <h4>
                                            Portfolio Composition (owned notes)
                                        </h4>

                                        <div class="row text-center">
                                            <div class="col-lg-6">
                                                <canvas
                                                        height="300"
                                                        width="300"
                                                        id="lcByScoreChart"
                                                        class="chart chart-doughnut"
                                                        chart-data="vm.lendingClubPortfolioAnalytics.notesByGradeConverted"
                                                        chart-labels="vm.lendingClubPortfolioAnalytics.notesByGradeLabels"
                                                        chart-option="vm.chartOptions"
                                                ></canvas>
                                                <h5>Breakdown by grade</h5>
                                            </div>
                                            <div class="col-lg-6">
                                                <canvas
                                                        height="300"
                                                        width="300"
                                                        id="lcByMaturityChart"
                                                        class="chart chart-doughnut"
                                                        chart-data="vm.lendingClubPortfolioAnalytics.notesByStateConverted"
                                                        chart-labels="vm.lendingClubPortfolioAnalytics.notesByStateLabels"
                                                        chart-option="vm.chartOptions"
                                                ></canvas>
                                                <h5>Breakdown by maturity</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-title">
                                            <h5>Principal outstanding by grade</h5>
                                        </div>
                                        <div class="ibox-content">
                                            <my-pie-chart
                                                    identifier="lc_op_by_grade"
                                                    data="vm.lendingClubPortfolioAnalytics.principalOutstandingByGrade"
                                                    ></my-pie-chart>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-title">
                                            <h5>Principal outstanding by yield</h5>
                                        </div>
                                        <div class="ibox-content">
                                            <my-pie-chart
                                                    identifier="lc_op_by_yield"
                                                    data="vm.lendingClubPortfolioAnalytics.principalOutstandingByYield"
                                                    ></my-pie-chart>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-title">
                                            <h5>Principal outstanding by term</h5>
                                        </div>
                                        <div class="ibox-content">
                                            <my-pie-chart
                                                    identifier="lc_op_by_term"
                                                    data="vm.lendingClubPortfolioAnalytics.principalOutstandingByTerm"
                                                    ></my-pie-chart>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-title">
                                            <h5>Porfolio status - $ Amount</h5>
                                        </div>
                                        <div class="ibox-content">
                                            <my-bar-graph
                                                identifier="lc-stacked-status-amount"
                                                data="vm.lendingClubPortfolioAnalytics.principalOutstandingByStateByGrade"
                                                ></my-bar-graph>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-title">
                                            <h5>Porfolio status - # Loans</h5>
                                        </div>
                                        <div class="ibox-content">
                                            <my-bar-graph
                                                    identifier="lc-stacked-status-number"
                                                    data="vm.lendingClubPortfolioAnalytics.notesByStateByGrade"
                                                    ></my-bar-graph>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab-2" class="tab-pane" data-ng-if="vm.tab == 2" data-ng-class="{'active': vm.tab == 2}">
                            <div class="row  border-bottom white-bg dashboard-header">
                                <div class="col-sm-3">
                                    <h2>Prosper</h2>
                                    <ul class="list-group clear-list m-t">
                                        <li class="list-group-item fist-item">
                                       <span class="pull-right">
                                       {{vm.prosperPortfolioAnalytics.principalOutstanding | currency}}
                                       </span>
                                            <span class="label label-success">1</span> Principal oustanding
                                        </li>
                                        <li class="list-group-item">
                                       <span class="pull-right">
                                       {{vm.prosperPortfolioAnalytics.pendingInvestment | currency}}
                                       </span>
                                            <span class="label label-info">2</span> Pending investments
                                        </li>
                                        <li class="list-group-item">
                                       <span class="pull-right">
                                       {{vm.prosperPortfolioAnalytics.currentNotes | currency}}
                                       </span>
                                            <span class="label label-primary">3</span> Cash balance
                                        </li>
                                        <li class="list-group-item">
                                       <span class="pull-right">
                                       13.29%
                                       </span>
                                            <span class="label label-default">4</span> Cumulative NAR
                                        </li>
                                        <li class="list-group-item">
                                       <span class="pull-right">
                                       LendingClubAggressive
                                       </span>
                                            <span class="label label-default">5</span> Strategy
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-4">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-title">
                                            <h5>Cash received</h5>
                                        </div>
                                        <div class="ibox-content">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <h1 class="no-margins">{{vm.prosperPortfolioAnalytics.principalReceived | currency}}</h1>

                                                    <div>
                                                        <small>Principal received</small>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <h1 class="no-margins">{{vm.prosperPortfolioAnalytics.interestReceived | currency}}</h1>

                                                    <div>
                                                        <small>Interest received</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-title">
                                            <h5>Additional Metrics</h5>
                                        </div>
                                        <div class="ibox-content">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <h1 class="no-margins">406,420</h1>

                                                    <div>
                                                        <small>WAVG interest rate</small>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <h1 class="no-margins">56,420</h1>

                                                    <div>
                                                        <small>Average note size</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="statistic-box">
                                        <h4>
                                            Portfolio Composition (owned notes)
                                        </h4>

                                        <div class="row text-center">
                                            <div class="col-lg-6">
                                                <canvas
                                                        height="300"
                                                        width="300"
                                                        id="pByScoreChart"
                                                        class="chart chart-doughnut"
                                                        chart-data="vm.prosperPortfolioAnalytics.notesByGradeConverted"
                                                        chart-labels="vm.prosperPortfolioAnalytics.notesByGradeLabels"
                                                        chart-option="vm.chartOptions"
                                                ></canvas>
                                                <h5>Breakdown by grade</h5>
                                            </div>
                                            <div class="col-lg-6">
                                                <canvas
                                                        height="300"
                                                        width="300"
                                                        id="pByMaturityChart"
                                                        class="chart chart-doughnut"
                                                        chart-data="vm.prosperPortfolioAnalytics.notesByStateConverted"
                                                        chart-labels="vm.prosperPortfolioAnalytics.notesByStateLabels"
                                                        chart-option="vm.chartOptions"
                                                ></canvas>
                                                <h5>Breakdown by maturity</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-title">
                                            <h5>Principal outstanding by grade</h5>
                                        </div>
                                        <div class="ibox-content">
                                            <my-pie-chart
                                                    identifier="p_op_by_grade"
                                                    data="vm.prosperPortfolioAnalytics.principalOutstandingByGrade"
                                                    ></my-pie-chart>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-title">
                                            <h5>Principal outstanding by yield</h5>
                                        </div>
                                        <div class="ibox-content">
                                            <my-pie-chart
                                                    identifier="p_op_by_yield"
                                                    data="vm.prosperPortfolioAnalytics.principalOutstandingByYield"
                                                    ></my-pie-chart>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-title">
                                            <h5>Principal outstanding by term</h5>
                                        </div>
                                        <div class="ibox-content">
                                            <my-pie-chart
                                                    identifier="p_op_by_term"
                                                    data="vm.prosperPortfolioAnalytics.principalOutstandingByTerm"
                                                    ></my-pie-chart>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-title">
                                            <h5>Porfolio status - $ Amount</h5>
                                        </div>
                                        <div class="ibox-content">
                                            <my-bar-graph
                                                    identifier="p-stacked-status-amount"
                                                    data="vm.prosperPortfolioAnalytics.principalOutstandingByStateByGrade"
                                                    ></my-bar-graph>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-title">
                                            <h5>Porfolio status - # Loans</h5>
                                        </div>
                                        <div class="ibox-content">
                                            <my-bar-graph
                                                    identifier="p-stacked-status-number"
                                                    data="vm.prosperPortfolioAnalytics.notesByStateByGrade"
                                                    ></my-bar-graph>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab-3" class="tab-pane" data-ng-if="vm.tab == 3" data-ng-class="{'active': vm.tab == 3}">
                            <div class="row  border-bottom white-bg dashboard-header">
                                <div class="col-sm-3">
                                    <h2>Prosper</h2>
                                    <ul class="list-group clear-list m-t">
                                        <li class="list-group-item fist-item">
                                       <span class="pull-right">
                                       {{vm.mergedAnalytics.principalOutstanding | currency}}
                                       </span>
                                            <span class="label label-success">1</span> Principal oustanding
                                        </li>
                                        <li class="list-group-item">
                                       <span class="pull-right">
                                       {{vm.mergedAnalytics.pendingInvestment | currency}}
                                       </span>
                                            <span class="label label-info">2</span> Pending investments
                                        </li>
                                        <li class="list-group-item">
                                       <span class="pull-right">
                                       {{vm.mergedAnalytics.currentNotes | currency}}
                                       </span>
                                            <span class="label label-primary">3</span> Cash balance
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-4">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-title">
                                            <h5>Cash received</h5>
                                        </div>
                                        <div class="ibox-content">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <h1 class="no-margins">{{vm.mergedAnalytics.principalReceived | currency}}</h1>

                                                    <div>
                                                        <small>Principal received</small>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <h1 class="no-margins">{{vm.mergedAnalytics.interestReceived | currency}}</h1>

                                                    <div>
                                                        <small>Interest received</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="statistic-box">
                                        <h4>
                                            Portfolios Composition (owned notes)
                                        </h4>

                                        <div class="row text-center">
                                            <div class="col-lg-6">
                                                <canvas
                                                        height="300"
                                                        width="300"
                                                        id="allByScoreChart"
                                                        class="chart chart-doughnut"
                                                        chart-data="vm.mergedAnalytics.notesByGradeConverted"
                                                        chart-labels="vm.mergedAnalytics.notesByGradeLabels"
                                                        chart-option="vm.chartOptions"
                                                ></canvas>
                                                <h5>Breakdown by grade</h5>
                                            </div>
                                            <div class="col-lg-6">
                                                <canvas
                                                        height="300"
                                                        width="300"
                                                        id="allByMaturityChart"
                                                        class="chart chart-doughnut"
                                                        chart-data="vm.mergedAnalytics.notesByStateConverted"
                                                        chart-labels="vm.mergedAnalytics.notesByStateLabels"
                                                        chart-option="vm.chartOptions"
                                                ></canvas>
                                                <h5>Breakdown by maturity</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <my-footer></my-footer>
    </div>
</div>