<div id="wrapper">
    <my-nav-bar active="loans"></my-nav-bar>
    <div id="page-wrapper" class="gray-bg">
        <my-nav-bar-top></my-nav-bar-top>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-md-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Available Loans</h5>
                        </div>
                        <div class="ibox-content">
                            <input data-ng-model="vm.globalFilterLoans.value" ng-change="vm.globalFilterLoans.onChange()" class="form-control margin-bottom-20" placeholder="Available loans search">
                            <div ui-grid="vm.loansTable.options" class="myGrid"></div>

                            <h1 class="with-space-before">Owned notes</h1>
                            <input data-ng-model="vm.globalFilterNotes.value" ng-change="vm.globalFilterNotes.onChange()" class="form-control margin-bottom-20" placeholder="Global search">
                            <div ui-grid="vm.notesTable.options" class="myGrid"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <my-footer></my-footer>
    </div>
</div>