@()(implicit flash: Flash, session: Session)

@main {

    <div id="wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">Account</strong>
                                </span> <span class="text-muted text-xs block">@session.get("email") <b class="caret"></b></span> </span> </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a href="@routes.Login.logout()">Logout</a></li>
                            </ul>
                        </div>
                        <div class="logo-element">
                            <img alt="logo" class="img-circle" src="@routes.Assets.versioned("images/logo-mini.png")">
                        </div>
                    </li>
                    <li class="active">
                        <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Main</span></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Portfolio</span>
                        </a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Loans</span> </a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Analytics</span>
                        </a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Reporting</span>
                        </a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Config</span> </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i>
                        </a>
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li>
                            <a href="@routes.Login.logout()">
                                <i class="fa fa-sign-out"></i> Log out
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <span class="label label-primary pull-right">Today</span>
                                <h5>Lending Club Liquidity</h5>
                            </div>
                            <div class="ibox-content">
                                <h1 class="no-margins">1406</h1>

                                <div class="stat-percent font-bold text-danger">-10% <i class="fa fa-level-down"></i></div>
                                <small>Available Loans #</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <span class="label label-primary pull-right">Today</span>
                                <h5>Lending Club Liquidity</h5>
                            </div>
                            <div class="ibox-content">
                                <h1 class="no-margins">30,234,239</h1>

                                <div class="stat-percent font-bold text-navy">44% <i class="fa fa-level-up"></i></div>
                                <small>Loans Notional</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <span class="label label-primary pull-right">Today</span>
                                <h5>Prosper</h5>
                            </div>
                            <div class="ibox-content">
                                <h1 class="no-margins">872</h1>

                                <div class="stat-percent font-bold text-danger">-12% <i class="fa fa-level-down"></i></div>
                                <small>Available Loans #</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <span class="label label-primary pull-right">Today</span>
                                <h5>Prosper</h5>
                            </div>
                            <div class="ibox-content">
                                <h1 class="no-margins">12,267,921</h1>

                                <div class="stat-percent font-bold text-navy">5% <i class="fa fa-level-up"></i></div>
                                <small>Loans Notional</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Lending Club Liquidity Breakdown By Credit Score </h5>

                                <div ibox-tools></div>
                            </div>
                            <div class="ibox-content">
                                <div>
                                    <canvas id="lendingClubDoughnutChart" height="140"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Prosper Liquidity Breakdown By Credit Score </h5>

                                <div ibox-tools></div>
                            </div>
                            <div class="ibox-content">
                                <div>
                                    <canvas id="prosperDoughnutChart" height="140"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>News</h5>
                            </div>
                            <div class="ibox-content no-padding">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <p><a class="text-info" href="#">@@Alan Marry</a> I belive that. Lorem Ipsum is
                                            simply dummy text of the printing and typesetting industry.</p>
                                        <small class="block text-muted"><i class="fa fa-clock-o"></i> 1 minuts ago</small>
                                    </li>
                                    <li class="list-group-item">
                                        <p><a class="text-info" href="#">@@Stock Man</a> Check this stock chart. This price
                                            is crazy! </p>
                                        <small class="block text-muted"><i class="fa fa-clock-o"></i> 2 hours ago</small>
                                    </li>
                                    <li class="list-group-item">
                                        <p><a class="text-info" href="#">@@Kevin Smith</a> Lorem ipsum unknown printer took a
                                            galley </p>
                                        <small class="block text-muted"><i class="fa fa-clock-o"></i> 2 minuts ago</small>
                                    </li>
                                    <li class="list-group-item ">
                                        <p><a class="text-info" href="#">@@Jonathan Febrick</a> The standard chunk of Lorem
                                            Ipsum</p>
                                        <small class="block text-muted"><i class="fa fa-clock-o"></i> 1 hour ago</small>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Upcoming Economic Events</h5>
                            </div>
                            <div class="ibox-content">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Event</th>
                                            <th>Date</th>
                                            <th>Time</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>ADP Employment</td>
                                            <td>30 September</td>
                                            <td>08:30 EST</td>
                                        </tr>
                                        <tr>
                                            <td>NonFarm Payroll</td>
                                            <td>2 October</td>
                                            <td>08:30 EST</td>
                                        </tr>
                                        <tr>
                                            <td>Consumer Condidence Meeting</td>
                                            <td>6 October</td>
                                            <td>08:30 EST</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Key Economic Indicator</h5>
                            </div>
                            <div class="ibox-content">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Indicator</th>
                                            <th>Current</th>
                                            <th>YoY</th>
                                            <th>MoM</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Unemployment</td>
                                            <td>5.30%</td>
                                            <td>0.00%</td>
                                            <td>0.00%</td>
                                        </tr>
                                        <tr>
                                            <td>CPI (Inflation 1982-84=100)</td>
                                            <td>237.79</td>
                                            <td>0.32%</td>
                                            <td>0.07%</td>
                                        </tr>
                                        <tr>
                                            <td>48-mo. New Car Loan</td>
                                            <td>4.31%</td>
                                            <td>-0.22%</td>
                                            <td>0.15%</td>
                                        </tr>
                                        <tr>
                                            <td>24-mo. Personal Loan</td>
                                            <td>9.69%</td>
                                            <td>-0.16%</td>
                                            <td>-1.04%</td>
                                        </tr>
                                        <tr>
                                            <td>30-yr Mortgage</td>
                                            <td>4.05%</td>
                                            <td>0.07%</td>
                                            <td>-0.11%</td>
                                        </tr>
                                        <tr>
                                            <td>15-yr Mortgage</td>
                                            <td>4.31%</td>
                                            <td>-0.22%</td>
                                            <td>0.15%</td>
                                        </tr>
                                        <tr>
                                            <td>Credit Card Interest Rate (Assessed)</td>
                                            <td>4.31%</td>
                                            <td>-0.22%</td>
                                            <td>0.15%</td>
                                        </tr>
                                        <tr>
                                            <td>Total Household Debt</td>
                                            <td>4.31%</td>
                                            <td>-0.22%</td>
                                            <td>0.15%</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div>
                    <strong>Copyright</strong> Lattice Markets &copy; 2014-2015
                </div>
            </div>
        </div>
    </div>
} {
    <!-- Mainly scripts -->
    <script src="@routes.Assets.versioned("third/inspinia/plugins/metisMenu/jquery.metisMenu.js")"></script>
    <script src="@routes.Assets.versioned("third/inspinia/plugins/slimscroll/jquery.slimscroll.min.js")"></script>
    <!-- Flot -->
    <script src="@routes.Assets.versioned("third/inspinia/plugins/flot/jquery.flot.js")"></script>
    <script src="@routes.Assets.versioned("third/inspinia/plugins/flot/jquery.flot.tooltip.min.js")"></script>
    <script src="@routes.Assets.versioned("third/inspinia/plugins/flot/jquery.flot.resize.js")"></script>
    <script src="@routes.Assets.versioned("third/inspinia/plugins/flot/jquery.flot.pie.js")"></script>
    <!-- Custom and plugin javascript -->
    <script src="@routes.Assets.versioned("third/inspinia/plugins/pace/pace.min.js")"></script>
    <!-- ChartJS-->
    <script src="@routes.Assets.versioned("third/inspinia/plugins/chartJs/Chart.min.js")"></script>
    <script src="@routes.Assets.versioned("third/inspinia/demo/chartjs-lattice.js")"></script>
}