@()(implicit flash: Flash, session: Session)

@main {

    <div data-ng-view></div>

} {
    <!-- Mainly scripts -->
    <script src="@routes.Assets.versioned("third/inspinia/plugins/metisMenu/jquery.metisMenu.js")"></script>
    <script src="@routes.Assets.versioned("third/inspinia/plugins/slimscroll/jquery.slimscroll.min.js")"></script>
    <!-- Flot -->
    <script src="@routes.Assets.versioned("third/inspinia/plugins/flot/jquery.flot.js")"></script>
    <script src="@routes.Assets.versioned("third/inspinia/plugins/flot/jquery.flot.tooltip.min.js")"></script>
    <script src="@routes.Assets.versioned("third/inspinia/plugins/flot/jquery.flot.resize.js")"></script>
    <script src="@routes.Assets.versioned("third/inspinia/plugins/flot/jquery.flot.pie.js")"></script>
    <!-- Custom and plugin javascript -->
    <script src="@routes.Assets.versioned("third/inspinia/plugins/pace/pace.min.js")"></script>
    <!-- ChartJS-->
    <script src="@routes.Assets.versioned("third/inspinia/plugins/chartJs/Chart.min.js")"></script>
    <script src="@routes.Assets.versioned("third/inspinia/demo/chartjs-lattice.js")"></script>
}